/*
/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* général */

*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a{
    transition:all 0.3s ease-in-out;
    text-decoration: none;
}
a:hover{
    transition:all 0.3s ease-in-out;

}

/* Header */

header{
    max-width: 1440px;
    margin: auto;
    padding:20px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:15px;
    align-items: center;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
}

header nav a{
    font-size: 18px;
    color: #000;
}

header nav a:hover{
    color:#2ec0f9;
}

header #menu{
    display: none;
}
/* Footer */

footer{
    background-color: orange;
}

footer img{
    width: 100%;
}

footer > article{
    text-align: center;
    margin: auto;
    max-width: 1140px;
    padding:50px 15px;
    color: #fff;
}

footer div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 1140px;
    margin: 50px auto;
    color: #fff;
    padding: 0 15px;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer ul a{
    color:#fff;
}

footer ul a:hover{
    opacity: 0.7;
}

footer div article h2{
    margin-bottom: 25px;
}

footer div article:nth-child(4) ul{
    display: grid;
    gap:20px;
}

footer > p{
    text-align: center;
    padding: 15px;
    background-color: #000;
    color: #fff;
}

footer > p a{
    color:#fff;

}
footer > p a:hover{
    opacity: 0.7;
}

/* Responsive tablette */

@media screen and (max-width:1024px){
    header nav{
        display: none;
    }

    header #menu{
        display: block;
    }

    footer div{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsive mobile */

@media screen and (max-width:767px){
     footer div{
        grid-template-columns: repeat(1, 1fr);
    }
}
/*