*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */

header{
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin:auto;
    gap: 20px;
    padding: 20px 20px;

}

header nav a:hover{
    color: aqua;
}


header img{
    width: 200PX;
}

header .lh{
    align-items: center;
    list-style: none;
    display: flex;
    gap: 20px;

}

header a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#uh{
    margin-left: 100px;
}

#menu{
    display: none;
}

/* main */
main{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main h1, h2{
    font-size: 30px;
}
.s1{
    margin: auto;
    max-width: 1500px;
}
.s1 > p{
    margin-bottom: 50px;
}

.s1 div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 100px;
}

.s2{
    display: grid;
    grid-template-columns: 75% 25%;
    margin: auto;
    gap: 50px;
    max-width: 960px;
}

.s2 article{
    padding-top: 50px;
}
.s2 article h2{
    max-width: 960px;
}
.s2 img{
    width: 100%;
    justify-self: end;
}

.s2 p{
    padding-bottom: 30px;
    font-size: 18px;
    
}

.s3 div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: auto;
    width: min-content;
    margin-bottom: 70px;
}

.s3 > h2{
    justify-self: center;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 70px;
}

main h3{
    font-size: 25px;
    color: orange;

}
main a{
    text-decoration: none;
    color: orange;
    border: 2px;
    border-color: orange;
    border-style:solid ;
    border-radius: 300px;
    font-size: 18px;
    display: block;
    padding: 11px 25px;
    max-width: fit-content;
}
.s3 a{
    margin: 30px auto;
}

/* footer */

footer{
    background-color: #ffa500;
    color: white;
    
}
#p1{
    background-color: black;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}

footer a {
    text-decoration: none;
    color: white;
}

.fd2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: baseline;
    width: 1440px;
    gap: 40px;
    margin: auto;
    padding-bottom: 50px;
}

footer ul{
    list-style: none;
}

.fd1{
    margin: auto;  
    width: auto;
    align-items: center;
    text-align: center;
    padding: 50px;
}
footer h2{
    font-size: 30px;
    font-weight: bold;

}
 
.fd2 ul{
text-align: left;
padding-left: 0%;
}

footer p, footer ul{
    font-size: 18px;
}

.fli{
    padding-top: 10px;
}

/* responsive tablette*/

@media screen and (max-width: 1024px) {
    header nav{
        display: none;
    }
    #menu{
        display: block;
    }
    .s2{
        grid-template-columns: 1fr;
    }

    .s2 img{
        width: fit-content;
        justify-self: auto;
    }

    .s3 div{
        grid-template-columns: repeat(2, 1fr);
    }

    .fd2{
        grid-template-columns: 1fr 1fr;
        max-width: fit-content;
    }
}

/* responsive mobile*/

@media screen and (max-width: 767px) {
    .s1 div{
        grid-template-columns: 1fr;
    }
    .s2{
        grid-template-columns: 1fr;
    }
    .s3 div{
        grid-template-columns: 1fr;
    }
    .fd2{
        grid-template-columns: 1fr;
    }
    .fd2 p{
        width: fit-content;
    }

    
}